$red: #ff4c50
$green: #7dbb4b
$blue: #8bb7bd

=placeholder($color)
	&::-webkit-input-placeholder 
		color: $color
	&::-moz-placeholder 
		color: $color
	&:-ms-input-placeholder
		color: $color
		
=pos
	display: block
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	
=obj
	object-fit: cover
	object-position: center

=unlist
	list-style: none
	margin: 0
	padding: 0

html
	box-sizing: border-box

*,:before,:after
	box-sizing: inherit
	//для IE10
	flex: 0 1 auto

body
	margin: 0
	padding: 0
	display: flex
	flex-direction: column
	min-height: 100vh
	font: normal 300 16px/1.75 'SF UI Display',sans-serif
	color: #232323

header,footer
	flex: 0 0 auto

main
	flex-grow: 1

img,
iframe,
video
	max-width: 100%

a
	color: inherit
	
a img
	/*для IE10*/
	border: none

p
	margin: 0 0 1.75em
	&:last-child
		margin: 0

em
	font-style: inherit
	color: #808080
*:focus
	outline: none

*:invalid
	box-shadow: none

/*элементы форм*/
input,textarea,button,select
	font: inherit
	color: inherit	
	
textarea
	resize: none
	overflow: auto /*опять же для IE*/
	
[type=text],
[type=email],
[type=tel],
[type=password],
[type=url],
[type=date],
textarea
	display: block
	width: 100%
	margin: 0 0 15px
	border: none
	border-radius: 5px
	background-color: #fff
	line-height: normal
	padding: 12.5px 30px 12.5px 20px
	font-weight: 400
	
[type=date]
	padding-right: 20px
	padding-left: 50px
	background: url(../img/icons/calendar.svg) no-repeat 23px center/17px auto,#fff
	
textarea
	box-shadow: 0 1px rgba(187, 187, 187, 0.46)
	
select
	appearance: none
	padding: 12.5px 30px 12.5px 20px
	background: url(../img/icons/caret-down.svg) no-repeat right 13px center/10px auto,#fff
	font-weight: 400
	line-height: normal
	border: none
	border-radius: 5px
	box-shadow: 0 1px rgba(187, 187, 187, 0.46)
	&::-ms-expand
		display: none
		
.simple-select
	display: block
	box-shadow: none
	padding: 0
	background: none
	text-decoration: underline
	margin: 0 0 4px
		
[type=search]
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration
		display: none
		
[type=checkbox]
	appearance: none
	display: inline-block
	width: 20px
	height: 20px
	text-align: center
	font: normal normal 13px/20px fontAwesome
	color: transparent
	border-radius: 2px
	background-color: #fff
	box-shadow: 0 1px rgba(187, 187, 187, 0.46)
	flex: 0 0 auto
	&:before
		content: '\f00c'
	&:checked
		color: $green
		
label
	display: inline-block
	user-select: none
		
.number-field
	display: inline-block
	white-space: nowrap
	font-size: 0
	&__btn
		display: inline-block
		font-size: 20px
		line-height: 2
		color: #c7c7c7
		width: 2em
		text-align: center
		cursor: pointer
		user-select: none
		vertical-align: middle
	&__input
		border: 1px solid $blue
		border-radius: 3px
		background-color: #fff
		min-width: 0
		text-align: center
		width: 33px
		height: 45px
		font-size: 18px
		vertical-align: middle
		-moz-appearance: textfield
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button
			appearance: none
			margin: 0
			
.field
	position: relative
	margin: 0 0 15px
	&--required
		&:after
			content: '*'
			display: inline-block
			position: absolute
			line-height: 1
			top: 10px
			right: 10px
			color: $red
			pointer-events: none
	&__text
		display: block
		flex: 0 0 auto
		text-align: right
		color: #a6a6a6
		line-height: normal
		font-size: 14px
		margin: .7em 0 0 
	&__label
		display: flex
		align-items: flex-start
		line-height: normal
		margin: .7em 0 0
		input
			flex: 0 0 auto
			margin: 0 10px 0 0
		span
			display: block
			flex: 1 1 auto
			margin-top: .1em
	&__input
		width: 100%
		flex: 1 1 auto
		margin: 0
.fork
	width: 250px
	max-width: 100%
	&__head
		display: flex
		justify-content: space-between
	&__output
		width: calc(50% - 3.5px)
		background-color: #fff
		font-size: 14px
		color: #a2a2a2
		padding: 10px 5px 10px 20px
		display: flex
		align-items: center
		border-radius: 5px
		span
			display: block
			flex: 0 0 auto
			margin-right: 1em
		input
			display: block
			border: none
			padding: 0
			background: none
			min-width: 0
			font-weight: bold
			color: #000
			width: 100%
			flex: 1 1 auto
			margin: 0
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				appearance: none
				margin: 0
.irs
	&--round
		height: 36px
	&--round &-handle
		width: 19px
		height: 19px
		border: none
		background-color: #f9c658
		top: 18px
		box-shadow: none
		&:hover,&.state_hover
			background-color: #f9c658
	&--round &-line
		background-color: #ccccd8
		border-radius: 0
		height: 2px
		top: 28px
	&--round &-bar
		height: 2px 
		background-color: #f9c658
		top: 28px
		
/*кнопки*/
button,
[type=submit],
[type=reset],
[type=image]
	cursor: pointer
.btn
	display: inline-block
	vertical-align: top
	appearance: none
	max-width: 100%
	text-decoration: none
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	font-size: 18px
	font-weight: bold
	line-height: 52px
	border: none
	border-radius: 100px
	background: linear-gradient(0,rgb(250,228,55),rgb(250,202,55))
	padding: 0 22px
	text-align: center
	color: #232323
	box-shadow: 0 3px #eab926
	margin-bottom: 3px
	user-select: none
	&:active
		box-shadow: none
		transform: translateY(3px)
	&--green
		background: #81bf5f
		box-shadow: 0 3px #54a627
		color: #fff
	&--cart
		padding: 0 13px
		font-size: 14px
		line-height: 43px
		color: #fff
		background: #81bf5f
		box-shadow: 0 3px #54a627
		&:before
			content: '\e910'
			font-family: icomoon
			font-weight: 400
			margin-right: 9px
	

/*заголовки*/
h1,h2,h3,h4,h5,h6
	margin: 0 0 1em
	font-family: "PF BeauSans Pro",sans-serif
	font-weight: bold
	line-height: normal

h1,h2
	font-size: 32px
	line-height: 38/32*1
	margin: 0 0 .3em
h3
	font-size: 26px
	line-height: 29/26*1
h4
	font-size: 18px
	font-weight: 500
	font-family: "SF UI Display",sans-serif
/*списки*/
ul,ol
	margin: 0 0 1em
		
ol
	list-style-position: inside
	padding: 0
	>li
		margin: 0 0 1em
		&:last-child
			margin: 0
/*таблицы*/
/*контейнеры*/
.wrapper
	max-width: 1200px
	margin: 0 auto
	padding: 0 15px

/*ШАПКА*/
.logo
	display: flex
	align-items: center
	font-size: 12px
	text-decoration: none
	line-height: 16/12*1
	&__main
		display: inline-block
		font: normal bold 26px/normal 'PF BeauSans Pro',sans-serif
		flex: 0 0 auto
		&--big
			font-size: 32px
	&__caption
		display: inline-block
		padding-left: 28px
		flex: 1 1 auto
.menu-btn
	display: inline-block
	font-size: 18px
	white-space: nowrap
	font-weight: 400
	&:after
		content: '\e91d'
		font-family: icomoon
		margin-left: 12px
		color: $blue
		font-size: 15px
.phone-select
	display: inline-block
	position: relative
	text-align: left
	&__head
		font-size: 18px
		font-weight: bold
		&:after
			content: '\e911'
			font: normal normal 14px/normal icomoon
			color: $blue
			margin-left: 10px
			vertical-align: middle
	&__list
		+unlist
		display: none
		position: absolute
		top: 100%
		left: 0
		width: 100%
		padding: 10px
		background-color: #fff
		box-shadow: 0 0 10px rgba(0,0,0,.12)
		z-index: 1
		font-weight: 400
		a
			text-decoration: none
	&.open &__list
		display: block
.search-form
	position: relative
	&__input
		display: block
		width: 100%
		min-width: 0
		border-radius: 5px
		border: 2px solid $blue
		padding: 12px 35px 11px 10px
		line-height: normal
	&__btn
		border: none
		background: none
		padding: 0
		position: absolute
		top: 0
		right: 0
		width: 33px
		height: 100%
		text-align: left
		color: $blue
		font-size: 20px
.main-menu
	+unlist
	margin-left: -15px
	>li
		position: relative
		transition: all .3s ease
		>a
			display: block
			text-decoration: none
			font-weight: 500
			padding: 5px 15px			
			transition: all .3s ease
			>i
				display: inline-block
				font-size: 27px
				color: $blue
				vertical-align: middle
				margin-right: 10px			
		&.has-children
			>a
				&:after
					content: '\e911'
					font-family: icomoon
					color: $red
					font-size: 14px
					margin-left: 7px
					vertical-align: middle
		&.open
			background-color: #fff
			box-shadow: 0 0 10px rgba(0,0,0,.12)
			>a
				position: relative
				z-index: 2
				padding-top: 26px
				padding-bottom: 34px
			>ul
				display: block
		>ul
			+unlist
			display: none
			padding: 10px 0
			border-top: 1px solid $blue
			position: absolute
			top: 100%
			left: -15px
			width: calc(100% + 15px)
			z-index: 2
			background-color: #fff
			font-weight: 500
			box-shadow: 0 5px 10px rgba(0,0,0,.1)
			li					
				a
					display: block
					text-decoration: none
					padding: 18px 36px
		
.header
	padding: 26px 0
	&__logo
		margin: 0 0 20px
	&__line
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0 0 20px
	&__top-menu
		+unlist
		display: none
		text-align: center
		margin: -10px -15px 10px
		font-weight: 400
		&.open
			display: block
		>li
			>a
				display: block
				text-decoration: none
				padding: 5px 15px
	&__tools
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0 0 17px
	&__search
		flex: 1 1 auto		
	&__cart
		display: inline-block
		text-decoration: none
		flex: 0 0 auto
		margin-right: 10px
		background-color: #fff
		box-shadow: 0 0 10px rgba(0,0,0,.12)
		font: normal bold 16px/46px "SF UI Display",sans-serif
		text-align: center
		padding: 0 27px
		border-radius: 5px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		span
			color: $red
			margin-left: 3px
	&__auth
		font-size: 13px
		color: #8f8f8f
		margin: 0 0 30px
		a
			margin: 0 10px
		
/*ОСНОВНОЕ СОДЕРЖИМОЕ*/
.info-block
	&__container
		padding: 0
	&__main
		position: relative
		margin: 0 0 10px
		overflow: hidden
	&__item
		background: linear-gradient(to bottom,#cce7f8,#deebf4)
		position: relative
		padding: 23px 30px 22px 50%
		overflow: hidden
		margin: 0 0 10px
		line-height: 25/16*1
		font-weight: 400
		min-height: 170px
		&--yellow
			background: #ffd953
		p
			margin: 0
			position: relative
			padding-left: 28px
			&:before
				content: '—'
				position: absolute
				left: 3px
	&__img
		position: absolute
		max-width: 55%
		max-height: 120%
		bottom: -30%
		left: 25%
		transform: translateX(-50%)
	&__subtitle
		display: block
		font-size: 18px
		line-height: 22/18*1
		font-weight: bold
		margin: 0 0 10px
		font-family: 'PF BeauSans Pro',sans-serif
	&__number
		font-size: 50px
		font-weight: 900
		line-height: 1
		color: #aac4df
		font-family: 'PF BeauSans Pro',sans-serif
.animation1
	padding: 45px 15px 57px 35%
	background: url(../img/red-dragon.png) no-repeat -132px 100px/260px auto,url(../img/red-bg.jpg) no-repeat left bottom/cover
	color: #fff
	font: normal  normal 19px/normal "PF BeauSans Pro",sans-serif
	&__tooltip
		display: inline-block
		vertical-align: top
		font: normal normal 14.5px/1 "SF UI Display",sans-serif
		text-transform: uppercase
		padding: 7/14.5*1em 15/14.5*1em 15/14.5*1em 20/14.5*1em
		background: url(../img/tooltip.svg) no-repeat center/100% 100%
		letter-spacing: .1em
		margin: 0 0 10px
	&__title
		font-size: 38px
		line-height: 1
	p
		margin: 0 0 1em
		&:last-child
			margin: 0
.advantages
	padding: 40px 0 20px
	counter-reset: advantages
	&__item
		display: flex
		align-items: flex-start
		font-weight: 400
		line-height: 1.5
		margin: 0 0 30px
		padding: 0 30px
		&:before
			counter-increment: advantages
			content: counter(advantages)
			display: block
			font: normal bold 53px/1 'PF BeauSans Pro',sans-serif
			color: #d2dded
			width: 1em
			flex: 0 0 auto
@keyframes fadeIn
	from
		opacity: 0
	to
		opacity: 1
.categories
	padding: 56px 0 40px
	background-color: #ededf2
	font-size: 15px
	line-height: 18/15*1
	font-weight: 400
	margin: 0 0 45px
	&__item
		display: flex
		align-items: center
		text-decoration: none
		width: 237px
		margin: 0 15px 15px
		background-color: #fff
		border-radius: 7px
		padding: 14px
		animation: fadeIn .3s ease
		&:nth-child(n+7):not(.show)
			display: none
	&__icon
		font-size: 32px
		color: $red
		margin-right: 10px
	&__footer
		text-align: center
		margin: 15px 0 0
.card
	position: relative
	background-color: #fff
	border-radius: 5px
	padding: 95px 30px 20px
	margin: 0 -10px 15px
	text-align: center
	font-weight: 400
	&__discount
		font: normal bold 19px/40px "PF BeauSans Pro",sans-serif
		color: #fff
		background-color: #ffce57
		white-space: nowrap
		position: absolute
		top: 24px
		left: 0
		padding: 0 18px 0 14px
		text-align: center
		clip-path: polygon(0 0 ,100% 0, calc(100% - 7px) 50%, 100% 100%, 0 100%)
	&__video
		display: inline-block
		position: absolute
		top: 26px
		left: calc(50% + 10px)
		font-size: 14px
		font-weight: bold
		text-decoration: none
		&:before
			content: '\f16a'
			font: normal normal 54px/0.67 fontAwesome
			color: #d5d5d5
			margin-right: 10px
			vertical-align: middle
		span
			text-decoration: ubnderline
			vertical-align: middle
	&__box
		display: flex
		align-items: center
		margin: 0 0 17px
	&__img
		width: calc(50% - 20px)
		margin-right: 20px
		opacity: .7
	&__chars
		+unlist
		width: 50%
		padding-left: 12px
		text-align: left
		font: 
			weight: 400
			size: 13px
		line-height: 25/13*1
		color: #838383
	&__body
		margin: 0 0 14px
	&__title
		font: normal bold 16px/normal "SF UI Display",sans-serif
	&__price
		display: inline-block
		vertical-align: middle
		margin: 0 10px
	&__btn
		vertical-align: middle
		margin: 0 10px 3px
	&__vendor-code
		display: inline-block
		color: #aaa
		font-size: 12px
		margin: 0 15px
	&__quick-buy
		display: inline-block
		font-size: 13px
		margin: 0 15px
.pagination
	font-size: 20px
	line-height: 49px
	font-weight: 400
	&__link
		display: inline-block
		text-decoration: none
		min-width: 43/20*1em
		padding: 0 4px
		text-align: center
		transition: all .3s ease
		border-radius: 3px
		&.active
			background-color: #fff
			font-weight: bold
			box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.21)			
	&__separ
		width: 2em
		
.category
	padding: 43px 0
	background-color: #ededf2
	&__head
		font-size: 14px
		margin: 0 0 2em	
	&__select
		display: block
		padding-left: 0
		font-size: 16px
		background-color: transparent
		box-shadow: none
	&__amount
		display: block
		font-size: 18px
	&__text
		line-height: 1.5
		margin: 0 0 1.5em
		br
			display: none
.sale-card
	padding: 0 20px 40px
	text-align: center
	font-weight: 400
	position: relative
	&__head
		position: relative
		margin: 0 auto 15px
	&__img
		opacity: .5
		display: block
		margin: 0 auto
	&__discount
		width: 60px
		height: 60px
		background-color: $red
		color: #fff
		line-height: 60px
		text-align: center
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		user-select: none
		font-size: 18px
		font-weight: bold
		transform: rotate(-15deg)
		border-radius: 50%
		position: absolute
		left: calc(50% - 110px)
		bottom: 5px
	&__price
		display: inline-block
		font-size: 18px
		font-weight: bold
	&__old-price
		display: inline-block
		font-size: 14px
		text-decoration: line-through
	&__title
		font: normal normal 13px/normal "SF UI Display",sans-serif
		color: #7b7b7b
		margin: .7em 0 0
	&__link
		+pos
.sale-block
	padding: 40px 0 0
	border-bottom: 3px solid #ededf2
	&__head
		margin: 0 0 30px
	&__nav
		display: flex
		align-items: center
		margin: 20px 0
	&__arrow
		font-size: 42px
		color: $green
	&__dots
		+unlist
		>li
			display: inline-block
			width: 7px
			height: 7px
			border-radius: 50%
			background-color: #a3a3a3
			margin: 3px
			background-color: #a3a3a3
			&.active
				background-color: $green
	&__slider
		display: flex
		align-items: flex-end
	&__item
		width: 100%
		&:nth-child(n+2)
			display: none
.tabs
	&__head
		display: none
	&__item
		padding: 15px 0
		&:nth-child(n+3)
			display: none
		strong
			color: $green
	&__mobile-trigger
		font-weight: 400
		&:after
			content: '\e911'
			display: inline-block
			font-weight: 400
			font-size: 12px
			font-family: icomoon
			margin-left: 10px
			color: $red
		&.active
			font-weight: bold
.more-link
	font-weight: bold
	text-decoration: none
.gallery
	&__item
		display: inline-block
		margin-bottom: 30px
		img
			display: block
			width: 100%
			height: 100%
			+obj
.about-block
	padding: 45px 0 30px
	&__title
		margin: 0 0 .7em
	&__sidebar
		padding: 0
	&__img
		display: block
		border-radius: 5px
	&__social
		padding: 15px 15px 30px		
		background-color: #ededf2
		img
			display: block
			width: 100%
	&__content
		padding-top: 35px
		padding-bottom: 35px
.consult
	background: url(../img/green-bg.jpg) no-repeat center/cover
	padding: 60px 0 0
	color: #deffbf
	font: normal normal 22px/1.27 "PF BeauSans Pro",sans-serif
	&__title
		color: #fff		
	&__img
		display: block
		margin: 0 auto
		width: 275px
		transform: translateY(7.4%)
		user-select: none
	&__form
		margin: 0 0 12px
		input
			display: block
			width: 100%
			font: normal 300 16px/normal "SF UI Display",sans-serif
			margin: 0 0 15px
			background-color: #fff
			border: none
			border-radius: 30px
			padding: 18px 27px
			color: #232323
			+placeholder(currentColor)
	&__btn
		display: block
		width: 100%
		filter: drop-shadow(0 10px 15px rgba(0,0,0,.12))
.up-btn
	display: inline-block
	margin: 22px 0 27px
	vertical-align: top
	font-size: 20px
	text-decoration: none
	cursor: pointer
	&:before
		content: '\e904'
		font:
			size: 13px
			weight: 400
			family: icomoon
		display: inline-block
		color: $green
		width: 35px
		height: 35px
		border-radius: 50%
		text-align: center
		line-height: 33px
		border: 1px solid
		cursor: pointer
		user-select: none
		margin-right: 20px
		vertical-align: middle
.dropdown
	margin: 0 0 20px
	&__trigger
		font-size: 20px
		font-weight: 400
		font-family: 'PF BeauSans Pro',sans-serif
		position: relative
		border-bottom: 2px solid #d5d5e0
		padding: .5em 1em .5em 0
		user-select: none
		cursor: pointer
		&:after
			content: '\e90c'
			font: normal normal .5em/1 icomoon
			color: $green
			display: inline-block
			position: absolute
			top: calc(50% - .5em)
			right: 0
			transition: all .3s ease
		&.open
			&:after
				transform: rotate(180deg)
	&__content
		padding: 10px 0
		display: none
		p
			margin: 0 0 1em
			&:last-child
				margin: 0
.delivery
	padding: 30px 0 40px
	&__img
		margin: 20px auto
	&__text
		font: italic normal 20px/1.5 "PF BeauSans Pro",sans-serif
		color: #ababab
		padding: 30px 0
	&__subtitle
		color: #232323
		font-style: normal
.payment
	counter-reset: payment
	padding: 30px 0 70px
	&__title
		margin: 0 0 1.5em
	&__item
		min-height: 85px
		position: relative
		padding: 35px 0 5px 115px
		margin: 0 0 25px
		background: url(../img/ellipse.svg) no-repeat left top
		line-height: 1.5
		font-weight: 400
		&:before
			counter-increment: payment
			content: counter(payment, decimal-leading-zero)
			display: inline-block
			position: absolute
			font-size: 42px
			line-height: 1
			top: 35px 
			left: 45px
	&__footer
		font-size: 18px
		line-height: 26/18*1
		font-weight: 400
		margin: 40px 0 0
		a
			color: #3875db

.contacts
	padding: 30px 0
	font-weight: 400
	h2
		margin: 0 0 .6em
	h3
		font-size: 16px
	p
		margin: 0 0 1.5em
	ul
		+unlist
		margin: 0 0 1.5em
	a
		text-decoration: none
	&__title
		margin: 0 0 1em
	&__main
		font-size: 14px
		line-height: 2
		p
			&:first-of-type
				font-size: 18px
				line-height: 27/18*1
	&__phone
		font-size: 32px
		line-height: 37/32*1
		font-weight: bold
		margin: 0 0 1em
	&__btn
		margin: 0 0 40px
	&__img
		margin: 30px auto 40px
	&__address
		font-weight: bold
		margin: 0 0 1.5em
		&:before
			content: '\e921'
			font: normal normal 22px/1 'icomoon'
			color: #ffce57
			margin-right: 15px
			vertical-align: middle
	&__item
		margin: 0 0 30px
	&__map
		padding: 0
		iframe
			display: block
			width: 100%
			height: 73vw
.good-line
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	padding: 23px 0
	border-bottom: 1px solid $blue
	font-weight: 400
	&__pic
		width: 80px
		flex: 0 0 auto
		padding-right: 20px
		margin: 0 0 30px
		img
			display: block
			margin: 0 auto
	&__text
		width: calc(100% - 80px)
		margin: 0 0 30px
	&__title
		font: inherit
		font-size: 18px
		font-weight: 400
		margin: 0
	&__price
		font-size: 14px
		color: #939393
	&__total-price
		margin: 0 15px
	&__remove
		font-size: 12px
		margin-left: 15px
		color: #939393
.basket
	padding: 30px 0
	&__body
		margin: 0 0 30px
	&__sidebar
		margin: 20px 0 0
		font-size: 18px
		line-height: 28/18*1
		font-weight: 400
		padding: 30px 20px
		box-shadow: 0px 5px 46.06px 2.94px rgba(123, 123, 123, 0.15)
		text-align: center
		p
			margin: 0 0 1em
	&__info
		text-align: left
		max-width: 240px
		margin: 0 auto
	&__total
		font-size: 26px
		font-weight: bold
		margin: 0 0 1em
.step-form
	&__item
		background-color: #ededf2
		padding: 20px 15px
		border-radius: 10px
		margin: 0 0 20px
	&__subtitle
		font-size: 20px
		margin: 0
		color: #bababd
		transition: all .3s ease
		.open>&
			color: #232323
	&__fields
		display: none
		padding: 15px 0 0
		.open>&
			display: block
.filter
	padding: 40px 0 10px
	background-color: #ededf2
	margin: 0 0 1em
	&__item
		margin-bottom: 25px
.text-columns
	padding: 80px 0 50px
	color: #808080
	h3
		color: #000
	ul
		+unlist
	&__item
		margin-bottom: 30px
.breadcrumbs
	display: none
	padding: 20px 0
	font-size: 14px
	color: #8f8f8f
	&__list
		+unlist
		>li
			display: inline-block
			&:not(:last-child):after
				content: '\e903'
				font-family: icomoon
				font-size: 75%
				margin: 0 1em
.banner
	background: url(../img/banner.jpg) no-repeat center/cover
	padding: 45px 0 90px
	color: #fff
	&__text
		width: 50%
		min-width: 210px
		margin-left: auto
	&__title
		margin: 0 0 10px
				
/*ПОДВАЛ*/
.footer
	background-color: #ededf2
	padding: 60px 0 45px
	&__line
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 7px
	&__phone
			.phone-select__head:after
				color: $red
	&__menu
		display: none
		+unlist
		margin: 0 -15px
		padding: 20px 15px
		text-align: center
		>li
			>a
				padding: 5px
				text-decoration: none
		&.open
			display: block
	&__contacts
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-direction: row-reverse
		margin: 25px 0 20px
	&__contact
		font-size: 16px
		font-weight: 400
		&-title
			font-weight: bold
			display: block
		a:not([class])
			color: #3875db
	&__copy
		font-size: 14px
		line-height: 1.5
		color: #9a9a9a
		margin: 0 0 23px
.designer
	display: flex
	align-items: center	
	font-size: 14px
	line-height: 1.5
	&__logo
		width: 50px
		margin-right: 13px
		flex: 0 0 auto
	&__text
		flex: 1 1 auto
		width: calc(100% - 63px)
	a
		display: inline-block
.soc-link
	display: inline-block
	width: 30px
	height: 30px
	border-radius: 50%
	background-color: #c0c0c0
	margin: 5px
	vertical-align: middle
	text-align: center
	color: #fff
	line-height: 30px
	font-size: 18px
	text-decoration: none
	
/*АДАПТИВ*/
@import "adaptive"